@import "./libs/libs"

.remix-logo
    // soon(tm)

nav
    padding: .5rem

.banner
    background: url("../../images/ubuntu-flavors.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat